@use './_colors' as *;

.cell {
  align-items: center;
  background: $grey;
  border-bottom: 1px solid $green;
  border-right: 1px solid $green;
  cursor: e-resize;
  display: flex;
  font-size: 12px;
  font-weight: 100;
  height: 25px;
  justify-content: center;
  width: 25px;
}
.cell.boat {
  background-image: radial-gradient($blue 0.5px, transparent 0);
  background-size: 2px 2px;  color: $grey;
  box-shadow: inset 4px 4px $grey, inset -4px -4px $grey;
}
.cell.miss {
  background-image: radial-gradient($green 0.5px, transparent 0);
  background-size: 2px 2px;
}
.cell.hit {
  background: radial-gradient($red 5px, transparent 0);
  color: $grey;
}
.cell.last-attack.hit {
  background: radial-gradient($yellow 5px, transparent 0);
}
.cell.sunk {
  background-image: radial-gradient($red 0.5px, transparent 0);
  background-size: 2px 2px;
  box-shadow: none;
}
.cell.last-attack.sunk {
  background-image: radial-gradient($yellow 0.5px, transparent 0);
  background-size: 2px 2px;
}
.cell.last-attack.miss {
  background-image: radial-gradient($yellow 0.5px, transparent 0);
}

// TOGGLED // 
.cell.boat.toggled {
  background: $blue; 
}
.cell.miss.toggled {
  background: $green;
  color: $grey;
}
.cell.boat.hit.toggled {
  background: none;
}
.cell.sunk.toggled, .cell.boat.hit.sunk.toggled {
  background: $red;
}
.cell.last-attack.toggled {
  background: $yellow;
}
.cell.hit span {
  background: $red;
  border-radius: 100%;
  min-width: 50%;
  padding: 2px;
  text-align: center;
}
.cell.hit.last-attack span {
  background: $yellow;
}
