// 70s palette 
$red:        #D2302D;
$orange:     #E88B3A;
$yellow:     #DAC447;
$green:      #5AA874;
$blue:       #408EC3;

// 70s subdued palette
$dim_red:    #c2343a;
$dim_orange: #bf722e;
$dim_yellow: #b09f39;
$dim_green:  #387f50;
$dim_blue:   #32719c;

// 90s palette
$tng_red:    #FF0000;
$tng_orange: orange;
$tng_yellow: #FFFF00;
$tng_green:  #00FF00;
$tng_blue:   #00FFFF;

// backgrounds
$black: #040404;
$grey: #242424; 


