@use './colors' as *;

// Firefox
section {
  scrollbar-color: $green $grey; //Firefox. Unclear if I can have outline
  scrollbar-width: 5px;
}

// Chrome, Safari.
section::-webkit-scrollbar {
  width: 5px;
}
section::-webkit-scrollbar,
section::-webkit-scrollbar-track {
  background: $grey;
}
section::-webkit-scrollbar-thumb {
  background-color: $grey;
  outline: 1px solid $green;
}

@media screen and (min-width: 1020px) {
  section {
    scrollbar-width: 15px;
  }

  section::-webkit-scrollbar {
    width: 15px;
  }
}
