@use './colors' as *;

// Firefox
* {
  scrollbar-color: $green $grey; //Firefox. Unclear if I can have outline
  scrollbar-width: 5px;
}

// Chrome, Safari.
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar,
*::-webkit-scrollbar-track {
  background: $grey;
}
*::-webkit-scrollbar-thumb {
  background-color: $grey;
  outline: 1px solid $green;
}

@media screen and (min-width: 1020px) {
  * {
    scrollbar-width: 15px;
  }

  *::-webkit-scrollbar {
    width: 15px;
  }
}
