// 70s palette 
$red: #D2302D;
$orange: #E88B3A;
$yellow: #DAC447;
$green: #5AA874;
$blue: #408EC3;


// 90s palette
$tng_red: #FF0000;
$tng_orange: orange;
$tng_yellow: #FFFF00;
$tng_green: #00FF00;
$tng_blue: #00FFFF;


// backgrounds
$black: #040404;
$grey: #242424; 


// alternatives; TODO: delete if end up being unused.
$dullred: #9E2C31;
