html {
  background: #baaaaa;
  font-family: 'Roboto', sans-serif
}
.board {
  border-top: 1px solid black;
  border-left: 1px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 260px;
  height: 260px;
}
.cell {
  background: #baaaaa;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  height: 25px;
  width: 25px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 12px;
}
.cell.miss {
  background: blue;
}
.cell.hit {
  background: red;
}
.cell.last-attack {
  box-shadow: inset 1px 1px gold, inset -1px -1px gold;
}
button {
  cursor: pointer;
}
