@use "./modules/_colors" as *;
@use "./modules/_cells" as *;

html {
  background: $grey;;
  color: $green;
  font-family: monospace;
}
body {
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 13px;
  font-weight: 100;
}
.board {
  border-top: 1px solid $green;
  border-left: 1px solid $green;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 260px;
  height: 260px;
}
button, select {
  color: $green;
  border: 1px solid $green;
  background: $grey;
  cursor: pointer;
  font-family: monospace;
  font-size: 12px;
  margin-bottom: 10px;
  margin-right: 5px;
  padding: 5px;
}
button {
  padding: 6px;
}
.special {
  background: $green;
  color: $grey;
}
